
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Gas Powered Games - the portal to the future</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700'>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/css/supersized.css">
        <link rel="stylesheet" href="/css/style.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">
    </head>

    <body>
        <div class="page-container container">
           <!-- <div class="progress">
                <div class="bar" style="width: 0%;" data-percentage="52">
                    <div>52%</div>
                </div>
            </div>
           -->
           <div class="content-container row">
                <div class="header-container row">
                    <div class="span12">
                        <h1>Ready for something wild?</h1>
                        <span class="text">  Be the first to see the next big thing from the designer of Total Annihilation, Dungeon Siege,</span>
                        <br>
                        <span class="text2"> Supreme Commander, and the team at Gas Powered Games.</span>
                    </div>
                </div>
                <div class="timer-container row">
                    <div class="span12">
                        <div class="timer">
                            <img src='/img/CountdownTimerButtons.png'>
                            <div class="timerOverlay">
                                <span class="days clock"></span> <span class="text days1">DAYS</span>
                                <span class="hours clock"></span>  <span class="text hours1">HOURS</span>
                                <span class="minutes clock"></span> <span class="text minutes1"> MINUTES </span>
                                <span class="seconds clock"></span> <span class="text seconds1"> SECONDS </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid logo">
                    <img src="/img/GPG_Logo_Large.png">
                </div>

                <div class="subscription-form-container row">
                    <div class="span12 container">
                        <form class="form-inline" action="/signup" method="post">
                            <label class="text-label" for="email1">Sign up for exclusive updates</label>
                            <input class="email" id="email1" type="email" name="email" placeholder="enter your email...">
                            <button type="submit" class="btn"></button>
                        </form>
                        <div class="success-message"></div>
                        <div class="error-message"></div>
                    </div>
                </div>
               <!--
            <div class="social-container row-fluid">
                <div class="span2"></div>
                <div class="tweets span6">
                    <div class="show-tweets"></div>
                </div>
                <div class="social-links span2">
                    <a class="facebook" href="#"></a>
                    <a class="twitter" href="#"></a>
                    <a class="dribbble" href="#"></a>
                    <a class="pinterest" href="#"></a>
                </div>

                    <div class="span2"></div>
                </div>     -->
           </div>
        </div>

        <!-- Javascript -->
        <script src="/js/jquery-1.8.2.min.js"></script>
        <script src="/js/jquery.countdown.js"></script>
        <!--     <script src="/js/supersized.3.2.7.min.js"></script>   -->
        <!--  <script src="/js/supersized-init.js"></script>     -->
          <script src="/js/jquery.tweet.js"></script>
          <script src="/js/scripts.js"></script>

      </body>
  </html>

